@{
    ViewBag.Title = "Start";
}


<div class="row">
    <div class="col-md-4">
        <h1>Gym notes</h1>    
        @Html.ActionLink("Start workout", "Start", "Workout", routeValues: null, htmlAttributes: new { id = "startWorkoutLink", @class = "btn btn-default" }) 
        @Html.ActionLink("Create new workout", "Create", "Workout", routeValues: null, htmlAttributes: new { id = "startWorkoutLink", @class = "btn btn-default" })       
    </div>
</div>